html{
    font-family: 'Cormorant Infant', serif ;
    /* background-color: #111 !important;

    color: rgb(241, 205, 205) !important; */
}
h1, h2, h3,h4, p, a,li, button{
    font-family: 'Cormorant Infant', serif !important;
    /* color: white !important; */
}

/**/
.cat {
    position: relative;
    height: 100px;
    width: 122.1px;
}
.ear {
    position: absolute;
    top: -30%;
    height: 60%;
    width: 25%;
    background: #fff;
}
.ear::before, .ear::after {
    content: '';
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: #161616;
}
.ear::after {
    transform-origin: 50% 100%;
}
.ear--left {
    left: -7%;
    border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(-15deg);
}
.ear--left::before, .ear--left::after {
    right: 10%;
}
.ear--left::after {
    transform: rotate(-45deg);
}
.ear--right {
    right: -7%;
    border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(15deg);
}
.ear--right::before, .ear--right::after {
    left: 10%;
}
.ear--right::after {
    transform: rotate(45deg);
}
.face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #161616;
    border-radius: 50%;
}
.eye {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 31%;
    background: #fff;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.eye::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50Array/0Array 0 40% 40%;
    background: #161616;
    animation: blink 4s infinite ease-in;
}
@keyframes blink {
    0% {
        height: 0;
   }
    90% {
        height: 0;
   }
    92.5% {
        height: 100%;
   }
    95% {
        height: 0;
   }
    97.5% {
        height: 100%;
   }
    100% {
        height: 0;
   }
}
.eye::before {
    content: '';
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: #fff;
    border-radius: 50%;
}
.eye--left {
    left: 0;
}
.eye--left::before {
    right: -5%;
}
.eye--right {
    right: 0;
}
.eye--right::before {
    left: -5%;
}
.eye-pupil {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 20%;
    background: #161616;
    border-radius: 50%;
    animation: look-around 4s infinite;
}
@keyframes look-around {
    0% {
        transform: translate(0);
   }
    5% {
        transform: translate(50%, -25%);
   }
    10% {
        transform: translate(50%, -25%);
   }
    15% {
        transform: translate(-100%, -25%);
   }
    20% {
        transform: translate(-100%, -25%);
   }
    25% {
        transform: translate(0, 0);
   }
    100% {
        transform: translate(0, 0);
   }
}
.eye--left .eye-pupil {
    right: 30%;
}
.eye--right .eye-pupil {
    left: 30%;
}
.eye-pupil::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: #fff;
}
.muzzle {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 6%;
    width: 10%;
    background: #fff;
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}
/* General page styling */
html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #161616;
}

/**/



.gallery-images {
    margin: 10%;
    padding: 50px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .gallery-images .image {
    width: 250px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gallery-images .image img {
    width: 90%;
  }
  
  
  
  .gallery-lightbox {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      top: 0;
      left: 0;
      transition: opacity .5s;
      moz-transition: opacity .5s; 
  }
  
  .gallery-lightbox .gallery-lightbox-image {
      height: 100%;
      width: 100%;
      margin: auto;
      padding: auto;
      text-align: center; 
  }
  
  .gallery-lightbox img {
      align: center;
      max-height: 90%;
      max-width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      border: 4px solid white; 
  }
  
  .gallery-lightbox.hidden {
      opacity: 0;
      pointer-events: none; 
  }
  
  
  /**********
  Added styles
  **********/
  
  .gallery-box {
    width: 100%;
    /* background-image: url('http://backgrounds.picaboo.com/download/7d/d1/7d1c14db8d6448a197f96f0928119644/cork%20board.jpg');
    */
    margin-top: -8px;
    margin-left: -8px;
    /* border: 10px solid #442d08;
    border-left: 10px solid #63471a;
    border-right: 10px solid #63471a;
    box-shadow: inset 1px 2px 10px black; */
  }
  
  /******
  Pin
  *******/
  .gallery-images .image::after {
    content: ' ';
    position: fixed;
    margin-left: -120px;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #F00000;
    z-index: 2;
    box-shadow: 0.5px 0.5px 0 #C90000, 2px 2px 5px black, inset 1px 1px 5px white;
  }
  
  .gallery-images .image img {
    border: solid 4px white;
    box-shadow: 1px 1px 10px black;
  }
  
  
  .skew-right {
    transform: rotate(5deg);
  }
  
  .skew-left {
    transform: rotate(-3deg);
  }
  
  .skewed-straight {
    transform: rotate(1deg);
  }
  
  .skew-right, .skew-left, .skewed-straight {
    transition: all 0.3s;
  }
  
  .skew-right:hover,
  .skew-left:hover,
  .skewed-straight:hover {
    transform: rotate(0);
  }
  
  section {
    width: 240px;
    margin: 3px;
    margin-bottom: 30px;
    background-color: white;
    transform: rotate(15deg);
  } 